
<form (ngSubmit)="submitCountry()">
  <div class="form-airline form-horizontal">
        <h4>{{title}}</h4>
        <hr />    
    <div class="form-group row">   
      <input type="hidden" class="form-control" placeholder="ID" [(ngModel)]="country.ID" name="ID">
    </div> 
    <div class="form-group row">   
        <label for="Name" class="col-2 col-form-label">Country Name</label>
        <div class="col-5">
          <input type="text" class="form-control" placeholder="Country Name" [(ngModel)]="country.Name" name="Name" *ngIf="action != Action[Action.Detail] && action != Action[Action.Delete]" required="true">
          <label for="Name" *ngIf="action != Action[Action.New] && action != Action[Action.Edit]" class="col-5 col-form-label">{{country.Name}}</label>
        </div>
    </div>     
    <br />
    <button *ngIf="action == Action[Action.New]" type="submit" class="btn btn-primary">Create</button>   
    <button *ngIf="action == Action[Action.Edit]" type="submit" class="btn btn-primary">Save</button>
    <button *ngIf="action == Action[Action.Delete]" type="submit" class="btn btn-primary">Delete</button>     
  </div>
  <div class="footer-link">
    <button *ngIf="action == Action[Action.Detail]" type="button" (click)="editDetail()" class="btn btn-sm btn-link">Edit</button><span *ngIf="action == Action[Action.Detail]"> |</span>
    <button type="button" (click)="backToList()" class="btn btn-sm btn-link">Back to List</button>
  </div>
</form>
